.navbar-brand {
  font-family: "Lobster", cursive;
  font-size: 30px;
}

main {
  margin: 0 1rem 1rem 1rem;
  font-family: "Nunito", sans-serif !important;
}

#welcome-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 1rem;
  text-align: center;
}

#projects {
  min-height: 95vh;
  padding-top: 4rem;
  margin-top: -4rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 1rem;
}

.project-tile {
  min-height: 200px;
}

.project-tile > p {
  min-height: 75px;
}

@media all and (max-width: 600px) {
  .project-tile {
    min-height: 0;
    padding: 1rem 15px;
    border-bottom: 0.5px black dashed;
  }
}
