body {
    background-color: darkgreen;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.main {
    height: 100vh;
    width: 800pt;
    background-color: white;
    margin: auto;
    box-shadow: 2px 2px 20px;
    padding: 1rem;
    overflow: hidden;
}

#title {
    font-family: 'Lobster', cursive;
    font-size: 1.5em;
}

#description {
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
}

.legend-text {
    font-family: 'Nunito', sans-serif;
}

.dot{
    stroke: #000;
    opacity: 0.8;
}

.d3-tip {
    line-height: 1;
    text-align:left;
    font-family: 'Nunito', sans-serif;
    padding: 12px;
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    border-radius: 5px;
    line-height: 1.2;
}